
@font-face {
    font-family: 'font';
    src: url(./4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}

@font-face {
    font-family: 'font2';
    src: url(./Poppins-Regular.ttf);
}

@font-face {
    font-family: 'font3';
    src: url(./KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 
  font-size: clamp(14px, 1vw, 18px);
}

section,nav,footer{
    max-width: 2000px;
    
    
}

@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin btn-style($color: #0468D7,$background-color:white ) {
      padding:0.8rem 2.5rem;
                border: 1px solid #0468D7;
                color:$color;
                border-radius: 2rem;
                width: fit-content;
                font-family: font3;
                font-weight: 600;
                font-size: 1.1rem;
                background-color:$background-color ;
  
}

main{
    width: 100%;
    @include flex-col(0rem);
    align-items: center;
    
  #navo{
position: fixed;
  width: 100%;
    .para{
        background: linear-gradient(124.64deg,#027dfd,#833ef2);
    padding:1rem 0.7rem;
        p{
            color: white;
            text-align: center;
            font-weight: 650;
            font-size: 0.9rem;
            
        }
    }
    .div1{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
         background-color: white;
         padding:2rem 3rem ;

        .div2{
          
             ul{
                display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        list-style: none;
        font-weight: 700;
        opacity: 0.8;

        li{
            button{
                padding: 0.8rem 1.5rem;
                background-color: #0468D7;
                color: white;
                border-radius: 2.5rem;
                border: none;
            }
        }

        li:hover{
            color: #046cdc;
            cursor: pointer;
        }
             }
        }
    }

    
}

.view1{
    width: 100%;
    background: linear-gradient(35deg, rgb(252, 221, 232), rgb(243, 252, 255) 60%);
    @include flex-col(7rem);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    padding-top: 15rem;
    .box1{
        width: 100%;
      @include flex-col(4rem);
        img{
            width: 100%;
            object-fit: cover;
        }
        h1{
            font-size: 3rem;
            text-align: center;
            line-height: 1;
            
        }
    }

    .box2{
    width: 100%;
    text-align: center;
     padding-bottom: 6rem;
  
    h2{
        font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    
    
    }
}
}

.view2{
    width: 100%;
    @include flex-col(1rem);
    padding:4rem 1.5rem;
    .card{
        padding: 1rem;
        width: 100%;
        @include flex-col(2rem);
        border-top: 4px solid rgb(219, 218, 218);
        h3{
            font-size: 1.8rem;
            font-weight: 640;
        }
       p{
        width: 80%;
        font-size: 1.3rem;
        opacity: 0.9;
       }

       img{
        width: 100%;
        object-fit: cover;
       }

    }
}

.view3,.view4,.view5,.view6{
    width: 100%;
    @include flex-col(2rem);
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
    .top{
        width: 100%;
        padding: 1.5rem;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .bottom{
        width: 100%;
        @include flex-col(2rem);
        padding: 1.5rem;

        h4{
            font-size: 1.3rem;
            opacity: 0.7;
            font-weight: 700;
            font-family: font2;
        }

        h3{
            font-size: 3rem;
            font-weight: 620;
            font-family: font;
        }

        p{
            font-size: 1.3rem;
            opacity: 0.9;
            font-family: font2;
        }

        .flex{
            @include flex-col(0rem);
            justify-content: flex-start;

            button{
              @include btn-style(#0468D7, white)
                
                
            }

            a{
                
                    font-weight: bold;
                
                padding: 2rem;
            }
        }
    }
}

.view4,.view6{
    background:linear-gradient(35deg, rgb(252, 252, 226) 40%, rgb(245, 251, 254) 90%);
    
    .flex{
        #btn,#btn3{
            @include btn-style( white,#0468D7)
           
        }
    }
}

.view5{
    .btn2{
        @include btn-style();
    }
}

.view7{
    width: 100%;
   
    padding:5rem 1.5rem;
    @include flex-col(0rem);
    align-items: center;
    justify-content: center;
    .box{
         position: relative;
        height:550px;
       display: flex;
       flex-direction: row;
       overflow: hidden;
        background: rgb(13, 5, 69);
        
         border-radius: 3rem;
       
        
       
         border-radius: 3rem;
        
     
       color: white;
    
        
        border-radius: 3rem;
       

    
        

      .b{
        z-index: 1;
        width: 80%;
         @include flex-col(1rem);
        position: relative;
        z-index: 3;
         padding:5rem 3rem;
      
        justify-content: space-between;
          h3{
            font-size: 3rem;
            font-family: font;
            
        }

        p{
            font-size: 1.2rem;
        }

        .flex{
            @include flex-col(0rem);
            margin-top: 1rem;
            .btn7{
                @include btn-style();
               
            }
            a{
                font-weight: bold;
                padding: 1.5rem;
            }
        }
      }
     .im{
        position: absolute;
      width: 100%;
       
      top:-14%;
      right: 50%;
   
     
        
     }
     
     
      
       
     
    

    }

    


}


footer{
    width: 100%;
  
    @include flex-col(0rem);
   justify-content: flex-start;
   align-items: start;

   #main-div{
    width: 100%;
     @include flex-col(0rem);
   justify-content: flex-start;
   align-items: start;
    img{
    width: 100%;
    object-fit: cover;
     padding:0 3rem;

   }
  

    .box{
        @include flex-col(3rem);
         padding:3rem 5rem;

     ul {
        li{
            list-style: none;
            line-height: 2rem;
            font-size: 1.2rem;
            opacity: 0.8;
        }
        .head{
            font-weight: bold;
        }

     }
        
    }
   }

    .icon{
        width: 100%;
        display: flex;
      
        gap: 1.2rem;

          justify-content: center;
        align-items: center;
        padding: 5rem 0 2.5rem 0;

        i{
            font-size: 1.5rem;
            opacity: 0.7;
        }
      
    }

    .para{
        width: 100%;
        @include flex-col(1.5rem);
        align-items: center;
        justify-content: center;
        border-top:1px solid rgb(155, 155, 155) ;
        padding-top: 2rem;
        padding-bottom: 5rem;
      
        p{
            width: 70%;
          text-align: center;
        }

        .term{
            display: flex;
            gap: 1rem;

            a{
                text-decoration: none;
            }
        }
    }
}


}



@media (max-width: 780px){
    main{
        #navo{
            .div1{
                .div2{
                    display: none;
                }
            }
        }
    }

}

@media (min-width: 900px){
   main{
    width: 100%;
     .view1{
        width: 100%;
        .box1{
            width: 80%;
          
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            img,h1{
                width: 50%;
            }

            h1{
                font-size: 4.5rem;
                text-align: left;
                font-weight: 650;
            }
        }

        .box2{
            width: 69%;
           
        }
    }

    .view2{
      width: 80%;
        
        flex-direction: row;
        justify-content: center;
        
        gap: 2rem;
    }

    .view3,.view4,.view5,.view6{
       width: 100%;
      
    .main-div{
        display: flex;
        align-items: center;
         flex-direction: row-reverse;
       
       gap: 8rem;
        width: 80%;
         .bottom{
        

        h3{
            font-size: 4rem;
        }
        .flex{
          
           flex-direction: row;
           align-items: center;
           gap: 2rem;
           a{
            padding: 0;
           }
          
        }
     }
    }
    }

    .view4,.view6{
        .main-div{
            display: flex;
            flex-direction: row;
            
        }
    }

    .view7{
        
        .box{
            width: 80%;
             height:350px;
             position: relative;

           
             .b{
                .flex{
                    flex-direction: row;
                   align-items: center;
                    gap: 1.5rem;


                    a{
                        padding: 0;
                    }

                    .btn7{
                        padding: 0.6rem 2rem;
                         
                      font-size: 0.9rem;
                         
                    }
                }

            }

            .im{
        position: absolute;
        width: 40%;
       
       left:50%;
       top:-60%;
     
        
     }
           
        }
    }


    footer{
       #main-div{
      
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding:3rem 5rem;
        .logo{
           img{
             padding: 0;
             margin-top: 2rem;
           }
        }
        .box{
          
            flex-direction: row;
          
          
            gap: 9rem;
        }


       }

       .icon{
        justify-content: flex-start;
        padding-left: 5rem;
       }

       .para{
        flex-direction: row;
        
        justify-content: space-between;
        align-items: start;
         padding:2rem 5rem 4rem 5rem;
        p{
            width: 80%;
            text-align: left;
            
           
        }
       }

       
       
    }
   }
}