*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 
  font-size: clamp(14px, 1vw, 18px);
}

section,nav{
    max-width: 2000px;
    
    
}

@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main{
    width: 100%;
    @include flex-col(0rem);
    align-items: center;
    
  #navo{

  width: 100%;
    background: linear-gradient(124.64deg,#027dfd,#833ef2);
    padding:1rem 0.7rem;
        p{
            color: white;
            text-align: center;
            font-weight: 650;
            font-size: 0.9rem;
            
        }
    
}

.view1{
    width: 100%;
    background: linear-gradient(35deg, rgb(252, 221, 232), rgb(243, 252, 255) 60%);
    @include flex-col(7rem);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    .box1{
        width: 100%;
      @include flex-col(4rem);
        img{
            width: 100%;
            object-fit: cover;
        }
        h1{
            font-size: 3rem;
            text-align: center;
            line-height: 1;
        }
    }

    .box2{
    width: 100%;
    text-align: center;
     padding-bottom: 6rem;
  
    h2{
        font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    
    
    }
}
}

.view2{
    width: 100%;
    @include flex-col(1rem);
    padding:4rem 1.5rem;
    .card{
        padding: 1rem;
        width: 100%;
        @include flex-col(2rem);
        border-top: 4px solid rgb(219, 218, 218);
        h3{
            font-size: 1.8rem;
            font-weight: 640;
        }
       p{
        width: 80%;
        font-size: 1.3rem;
        opacity: 0.9;
       }

       img{
        width: 100%;
        object-fit: cover;
       }

    }
}

}


@media (min-width: 900px){
   main{
    width: 100%;
     .view1{
        width: 100%;
        .box1{
            width: 80%;
          
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            img,h1{
                width: 50%;
            }

            h1{
                font-size: 5rem;
                text-align: left;
            }
        }

        .box2{
            width: 69%;
           
        }
    }

    .view2{
      width: 80%;
        
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;
    }
   }
}